.ant-menu-title-content {
    display: flex;
    align-items: center;
}
.ant-menu-title-content .icon{
    /* padding: 5px; */
    /* size: 50; */
    margin: 5px;
}

.logout {
    position: absolute;
    bottom: 20px;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}
.Sidebar {
    height: 100vh;
}

.logoutBtn {
    color: rgb(255, 81, 81);
}
.logout .icon {
    margin: 3px;
    color: rgb(255, 81, 81);
}
hr {
    margin: 0;
}
.NazwaProjektu{
    height: 65 px;
}